.additional-service-card-container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.additional-service-details h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    font-family: FreeMono, monospace;
}

.additional-service-details p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
    font-family: FreeMono, monospace;
}

.add-service-button-style {
    width: 170px;
    background: #00c391 !important;
    color: #fff !important;
}

.add-service-button-style:hover {
    color: #00c391 !important;
    background: #f5faff !important;
    border-color: #f5faff !important;
}
