.user-profile-container {
    padding: 20px;
    background-color: #fff; /* Білий фон */
    border-radius: 8px;
    margin-top: 70px;
    font-family: FreeMono, monospace;}

.profile-title {
    color: #00c391;
    margin-bottom: 24px;
    font-family: FreeMono, monospace;
}

.loading-spinner-container {
    text-align: center;
    margin-top: 50px;
}

.user-details-row {
    margin-bottom: 20px;
}

.user-details-label {
    font-weight: bold;
    color: #000; /* Чорний колір тексту */
    font-family: FreeMono, monospace;
    font-size: 20px;
}

.user-details-value {
    color: #000; /* Чорний колір тексту */
    font-family: FreeMono, monospace;
    font-size: 20px;
}
